<li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
        <div class="fw-bold">{{item?.title}}</div>
       Rs: {{item?.releaseDate}}
    </div>
    <div class="quantity">
        <button (click) = "quantity('decrease')" class="btn btn-dark"><strong>-</strong></button>
        <input class="inputbox" text = "text" disabled value = "{{productQuantity}}" >
        <button (click) = "quantity('increase')" class="btn btn-dark"><strong>+</strong></button>
       </div>
    <button class="badge bg-primary rounded-pill" (click)="removeBook(item?.id!)">X</button>
</li>